body {
    background-image: url('arcade-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.body h1 {
    top: 136px;
    color: greenyellow;
    font-family: 'GeorgiaPro-Black';
    font-size: 92px;
    text-align: center;
    text-shadow: 6px 6px 6px #333, -2px -2px 2px #333, 2px -3px 3px #333, -3px 3px 3px #333;
    font-weight: 900;
    position: relative;
    z-index: 1;
}

.body h1::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 20.75%;
    width: 60%;
    height: 100%;
    z-index: -1;
    background-color: orangered;
    transform: skew(-30deg);
    box-shadow: inset 0px 0px 0px 1px purple, 12px 12px 12px rgb(0, 0, 0);
    border: 4px solid purple;
    box-sizing: border-box;
}

.container_1 p {
    top: 114px;
    text-align: center;
    position: relative;
    padding-top: 35px;
    color: white;
    font-family: 'Comic Sans MS';
    font-style: bold;
    font-size: 28px;
    z-index: 1;
}

.container_1 a {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    box-shadow: inset 0px 0px 0px 1px black, 6px 6px 6px rgb(0, 0, 0);
    border: 4px solid black;
    box-sizing: border-box;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
}

.container_1 a:hover {
    background-color: #0097E6;
    color: blue;
    box-shadow: 4px 4px 5px rgb(0, 0, 0);
}

.container_2 p {
    top: 114px;
    text-align: center;
    position: relative;
    padding-top: 35px;
    color: white;
    font-family: 'Comic Sans MS';
    font-style: bold;
    font-size: 28px;
    z-index: 1;
}

.container_2 p::before {
    content: "";
    position: absolute;
    padding-bottom: 20px;
    left: 27.35%;
    width: 45%;
    height: 80%;
    background-color: grey;
    z-index: -1;
    box-shadow: inset 0px 0px 0px 1px black, 6px 6px 6px rgb(0, 0, 0);
    border: 4px solid black;
    box-sizing: border-box;
    border-radius: 25px;
}


.container_2 a {
    display: inline-block;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.container_2 a:hover {
    background-color: #0097E6;
    color: blue;
    box-shadow: 4px 4px 5px rgb(0, 0, 0);
}